@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}
.active-event {
    background-color: green;
    color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 40px;
    margin-bottom: 10px;
    padding: 10px 0;
    color: white;
}
.nav{
    background: #002fa7;
}
.header img{
    width: 150px;
}
.nav-btn{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
#addButton{
    padding: 5px 20px;
    border-radius: 5px;
    border: 0px;
    background-color: #33b249;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
#addButton:hover{
    background-color: #37a36b;
}

#studentFormContainer,
#traineeFormContainer,
#editFormContainer,
#formContainer{
    position: relative;
    padding: 20px;
    padding-left: 50px;
    margin: 0 35%;
background: rgba(0, 0, 0, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

#traineeFormContainer h2,
#studentFormContainer h2,
#editFormContainer h2,
#formContainer h2{
    padding-bottom: 10px;
}
#studentForm,
#traineeForm,
#editForm,
#eventForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#studentForm input,
#traineeForm input,
#editForm input,
#eventForm input{
    width: 80%;
}
button{
    padding: 5px 20px;
    border-radius: 5px;
    border: 0px;
    background-color: #33b249;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
#studentTableContainer h2,
#traineeTableContainer h2,
#eventTableContainer h2{
    text-align: center;
    padding: 10px;
}
#studentTable,
#traineeTable,
#eventTable{
    margin-left: auto;
  margin-right: auto;
}
table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0px 10px 15px 5px grey;
    margin-bottom: 20px;
  }
table, tr, td, th{
    border: 1px solid #002fa7;
    border-collapse: collapse;
    font-size: 14px;
    }
thead{
    background: #002fa7;
    color: #fff;
}
th{
    padding: 10px 15px;
}
td{
    padding: 8px 10px;
}
td button{
    margin: 0 5px; 
}
.red-button{
    background-color: red;
    color: white;
    transition: 0.3s;
}
.red-button:hover{
    background-color: #d11a2a;
}
.green-button{
    background-color: #33b249;
    color: white;
    transition: 0.3s;
}
button:hover{
    background-color: #37a36b;
}
.tab{
    font-size: 20px;
    color: black;
    transition: 0.3s;
}
.tab-head{
    font-size: 20px;
}
.tab:hover{
    color: #002fa7;
}
.searchbar{
    padding: 5px 17px;
    margin-left: 358px;
    font-size: 12px;
    border-radius: 5px;
    border: 2px solid #002fa7
}
.searchbar2{
    width: 60%;
    margin-left: 270px;
    margin-bottom: 5px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    border: 2px solid #002fa7
}
/* Define the floating animation */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Apply the animation to the floating image */
.floating-image {
    animation: float 2s infinite;
}

.student-detail {
    border: 2px solid #002fa7;
    margin: 10px 10px;
    border-radius: 10px;
    padding: 10px 15px;
    width: 25%;
}

.search-phone {
    margin: 10px;
    padding: 3px;
}

#searchStudentForm{
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 20px;
}

#studentDetailsContainer{
    display: flex;
    margin-left: 50px;
}